
### Objectif : Transformer la data pour le mettre dans un format proprice au machine learning

1. Création du Train set / Test set 
2. Elimination des NaN : dropna() , imputation , colonnes "vides" : fillna()
3. Encodage 
4. Suppression des outliers néfastes au modèle
5. Feature selection
6. Feature engineering 
7. Feature scaling

In [1]:
## Load Preprocessing pkg 
import polars as pl 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns   
from pathlib import Path
%matplotlib inline

In [2]:
THIS_DIR : str = '../MLoPsMlflowDagshubPycaret'

CUSTOMER_CHURN_CSV_FPATH : str  = THIS_DIR  + '/data/customer_churn_data.csv'

In [4]:
data = pd.read_csv(CUSTOMER_CHURN_CSV_FPATH)
df = data.copy()

In [5]:
# types de nos variables (données)

df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [11]:
df.TotalCharges.head()

0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
Name: TotalCharges, dtype: object

Notez que TotalCharges est une variable de type  object au lieu d'un type  float. 


En effet, les valeurs nulles sont codées sous forme de chaîne vide, 

ce qui fait que le type de la colonne est object au lieu de float. 

Résolvons d'abord ce problème.

In [12]:
# remplaçons les  blancs dans les données par  des  np.nan
df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan).astype('float64')
# check rapide des types de nos données  après les changements effectués 
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [17]:
# Recherche  des valeurs manquantes 
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64